<main th:fragment="modalView">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 th:text='${sectionTitle}' class="text-center font-weight-light my-4"></h3>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/updateMeasurement}" th:object="${measurement}"
                              method="post">
                            <input type="hidden" th:field="*{id}">
                            <input type="hidden" th:field="*{riverRegionId}">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="measurementDate">Datum mjerenja</label>
                                        <input required th:field="*{date}" class="form-control py-4 testDate" id="measurementDate" type="text" placeholder="Molimo unesite datum mjerenja">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="measurementValue">Vrijednost mjerenja</label>
                                        <input required th:field="*{value}" class="form-control py-4" id="measurementValue" type="number" min="0" step=".01" placeholder="Molimo unesite vrijednost mjerenja">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block form-group mt-4 mb-0">Spremi</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>